.gss input.gsc-input
{
    border-color: inherit;
    font-size: inherit;
    border: inherit;
    display: none;
}

/* Custom Jetstream Styles */

.gsc-clear-button
{
    display: none;
}

.mod.refine-search .text-sidebar {
    width: 158px;
}

.mod.refine-search .gsc-search-button input
{
    position: absolute;
    top: 24px;
    right: 28px;
    background: url("/images/ui/refine_search_bg.png") no-repeat top left;
    width: 14px;
    min-width: 14px;
    height: 15px;
    border: none;
    outline: none;
    padding: 0;
    text-indent: -99999px;
}

.footer .gsc-search-button input
{
    position: absolute;
    top: 10px;
    right: 5px;
    background: url("/images/ui/footer/bg_magnifying_glass.png") no-repeat top left;
    width: 23px;
    min-width: 23px;
    height: 23px;
    border: none;
    outline: none;
    text-indent: -99999px;
}